:root {
  --theme-color: #38b5ed;
  --default-color: #eceef0;
  --default-font-color: #b1b1b1;
  --deep-default-font-color: #999999;
  --error-color: rgb(241, 41, 41);
}

.App {
  position: relative;
  height: 100vh;
}

.selected {
  border-color: var(--theme-color);
}

.error {
  border-color: var(--error-color);
}
