.background__image {
    /* background: #000; */
}
.background__image {
    display: flex;
    justify-content: flex-end;
    max-width: 100vw;
    z-index: -1;
    margin-bottom: -50px;
}
.background__image img {
    min-width: 140vw;
}