.login__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__field {
  position: relative;
  display: flex;
  align-items: center;
  height: 8vh;
  max-height: 50px;
  min-height: 40px;
  border: 1.9px solid var(--default-color);
  border-radius: 5px;
  width: 85%;
  max-width: 400px;
  background: #ffffff;
}
.input__field__label {
  position: absolute;
  top: -15px;
  left: 15px;
  background-color: var(--theme-color);
  padding: 1% 1.2%;
  border-radius: 3px;
  color: white;
  font-size: 0.5rem;
}

.input__field__icon {
  max-width: 1.2rem;
  margin: 0.5rem;
}

.input__field__content {
  flex: 1;
  height: 90%;
  font-size: small;
  border: none;
  padding: 0 1%;
  overflow: hidden;
}
.input__field__content:focus {
  outline: none;
  border: none;
}

.input__field__complementary * {
  text-decoration: none;
  color: var(--theme-color);
  border-left: 1.5px solid var(--default-color);
  padding: 0.35rem 0.7rem;
  font-size: small;
}

.input__submit {
  width: 85%;
  max-width: 400px;
  color: var(--deep-default-font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.5rem;
}
.input__submit__complementary a {
  text-decoration: none;
  color: var(--theme-color);
}
.input__submit__complementary p {
  font-size: small;
  font-weight: 650;
}

.input__submit__button {
  background-color: var(--theme-color);
  border: none;
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 6px;
}
.input__submit__button:focus {
  outline: none;
  border: none;
}
.input__submit__button:hover {
  cursor: pointer;
}
